<h1>{{titulo}}</h1>

<div class="container">
    <div class="row">

        <div *ngFor="let product of products" class="col-lg-3">

            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">{{product.name}}</h5>
                  </div>
                <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
                <div class="card-body">
                    
                    <p class="card-text">{{product.price | currency: 'COP'}}</p>
                    <button (click)="addProduct(product.proId)" class="btn btn-primary mb-2 btn-lg">Añadir al carrito</button>
                </div>
            </div>
            <br>
        </div>

    </div>
</div>