<h1>Reset Password</h1>
<h3>{{msg}}</h3>
<form >
    <div class="form-group">
        <input [(ngModel)]="email"   size="30" name="email"  placeholder="Email"     type="text"/><br/>
      </div>
      <div class="form-row">
          <div class="col">
            <button (click)="reset()" class="btn btn-primary mb-2 btn-lg">Reset</button>
          </div>
          <div class="col">
            <button routerLink="/login" class="btn btn-primary mb-2 btn-lg">Cancelar</button>
        </div>
      </div>
</form>
