<div *ngIf="showMsg"> 
    <p *ngFor="let msg of messages">
        {{msg}} 
    </p>
</div>
<h1>Product save</h1>

<form #productForm="ngForm">
    <div class="form-group">
        <input type="text" name="proId" id="proId" #proId placeholder="proId" [(ngModel)]="product.proId"/><br/>
    </div>
    <div class="form-group">
        <input type="text" name="detail" id="detail" #detail placeholder="detail" [(ngModel)]="product.detail"/><br/>
    </div>
    <div class="form-group">
        <input type="text" name="image" id="image" #image placeholder="image" [(ngModel)]="product.image"/><br/>
    </div>
    <div class="form-group">
        <input type="text" name="name" id="name" #name placeholder="name" [(ngModel)]="product.name"/><br/>
    </div>
    <div class="form-group">
        <input type="number" name="price" id="price" #price placeholder="price" [(ngModel)]="product.price"/><br/>
    </div>
    <div class="form-group">
        <select name="enable" id="enable" #enable [(ngModel)]="product.enable">
            <option *ngFor="let enable of enables" [value]="enable.id">
                {{enable.name}}
            </option>
        </select>
    </div>
    <div class="form-row">
        <div class="col">
            <button (click)="save()" class="btn btn-primary mb-2 btn-lg">save</button>
        </div>
        <div class="col">
            <button routerLink="/product-list" class="btn btn-primary mb-2 btn-lg">cancel</button>
        </div>
    </div>    
</form>
