<div *ngIf="showMsg">
    <p *ngFor="let msg of messages">
        {{msg}}
    </p>
</div>
<h1>payment method save</h1>
<form #paymentMethodForm="ngForm">

    <div class="form-group">
        <label >Nombre</label><br/>
        <input type="text" name="name" id="name" size="30" #name placeholder="name"
            [(ngModel)]="paymentMethod.name" /><br />
    </div>
    <div class="form-group">
        <label >Activo</label><br/>
        <select name="enable" id="enable" #enable [(ngModel)]="paymentMethod.enable">
            <option *ngFor="let enable of enables" [value]="enable.id">
                {{enable.name}}
            </option>
        </select>
    </div>

    <div class="form-row">
        <div class="col">
            <button (click)="save()" class="btn btn-primary mb-2 btn-lg">save</button>
        </div>
        <div class="col">
            <button routerLink="/payment-method-list" class="btn btn-primary mb-2 btn-lg">cancel</button>
        </div>
    </div>
</form>