<h1>Productos del shoppingcart</h1>
<button (click)="volver()" class="btn btn-primary mb-2 btn-lg">salir</button>

<table class="table table-bordered">
    <thead class="thead-light">

        <tr>
            <th>productId</th>
            <th>name</th>
            <th>image</th>
            <th>quantity</th>    
            <th>total</th>
        </tr>
    </thead>
    

    <tbody>
        <tr *ngFor="let prod of products; let x = index">
            <td>{{shoppingProducts[x].productId}}</td>
            <td>{{prod.name}}</td>
            <td><img src={{prod.image}} alt="not found" class="img-thumbnail" width="100" height="100"></td>
            <td>{{shoppingProducts[x].quantity}}</td>
            <td>{{shoppingProducts[x].total | currency: 'COP'}}</td>
        </tr>
    </tbody>
    
    

</table>
