<h1>Productos del shoppingcart</h1>
<button (click)="volver()" class="btn btn-primary mb-2 btn-lg">salir</button>

<table class="table table-bordered">
    <thead class="thead-light">

        <tr>
            <th>productId</th>
            <th>quantity</th>    
            <th>total</th>
        </tr>
    </thead>
    

    <tbody>
        <tr *ngFor="let shoppingProduct of shoppingProducts">
            <td>{{shoppingProduct.productId}}</td>
            <td>{{shoppingProduct.quantity}}</td>
            <td>{{shoppingProduct.total | currency: 'COP'}}</td>
        </tr>
    </tbody>
    
    

</table>
