<h1>{{titulo}}</h1>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>payId</th>
            <th>Name</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Inhabilitar</th>
            <th>Habilitar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let paymentMethod of paymentMethods">
            <td>{{paymentMethod.payId}}</td>
            <td>{{paymentMethod.name}}</td>
            <td>
                <div *ngIf="paymentMethod.enable=='Y'">Activo</div>
                <div *ngIf="paymentMethod.enable=='N'">Inactivo</div>
            </td>
            <td>
                <button [routerLink]="['/payment-method-edit', paymentMethod.payId]"
                    class="btn btn-primary mb-2 btn-lg">editar</button>
            </td>
            <td>
                <button (click)="inhabilitar(paymentMethod.payId)"
                    class="btn btn-primary mb-2 btn-lg">Inhabilitar</button>
            </td>
            <td>
                <button (click)="habilitar(paymentMethod.payId)" class="btn btn-primary mb-2 btn-lg">Habilitar</button>
            </td>


        </tr>
    </tbody>




</table>