
<nav class="navbar navbar-dark bg-dark">

    <div *ngIf="tipo=='C'">
        <div class="row">
            <div class="col">
                <button (click)="singOut()" class="btn btn-light mb-2 btn-lg">SingOut</button>
            </div>
            <div class="col">
                <button routerLink="/product-cart" class="btn btn-light mb-2 btn-lg">lista de productos</button>
            </div>
            <div class="col">
                <button routerLink="/cart" class="btn btn-light mb-2 btn-lg">carro de compra</button>
            </div>
            <div class="col">
                <button routerLink="/add-payment-method" class="btn btn-light mb-2 btn-lg">Pagar</button>
            </div>
        </div>







    </div>

    <div *ngIf="tipo==null">
        <div class="row">
            <div class="col">
                <button (click)="singOut()" class="btn btn-light mb-2 btn-lg">SingOut</button>
            </div>
        </div>

    </div>
    <div *ngIf="tipo=='A'">

        <div class="row">
            <div class="col">
                <button (click)="singOut()" class="btn btn-light mb-2 btn-lg">SingOut</button>
            </div>
            <div class="col">
                <button routerLink="/customer-list" class="btn btn-light mb-2 btn-lg">Customer List</button>
            </div>
            <div class="col">
                <button routerLink="/customer-save" class="btn btn-light mb-2 btn-lg">Customer Save</button>
            </div>
            <div class="col">
                <button routerLink="/product-list" class="btn btn-light mb-2 btn-lg">Product List</button>
            </div>
            <div class="col">
                <button routerLink="/product-save" class="btn btn-light mb-2 btn-lg">Product Save</button>
            </div>
            <div class="col">
                <button routerLink="/payment-method-list" class="btn btn-light mb-2 btn-lg">Payment Method List</button>
                
            </div>
            <div class="col">
                <button routerLink="/payment-method-save" class="btn btn-light mb-2 btn-lg">Payment Method Save</button>
                
            </div>
        </div>
    </div>
   
   
    
   
    


</nav>