<table class="table table-bordered">
    <tr>
        <td>carId</td>
        <td>email</td>
        <td>items</td>
        <td>total</td>
        <td>opciones</td>
    </tr>

    <tr *ngFor="let shoppingCart of shoppingCarts">
        <td>{{shoppingCart.carId}}</td>
        <td>{{shoppingCart.email}}</td>
        <td>{{shoppingCart.items}}</td>
        <td>{{shoppingCart.total}}</td>
        <td>
            <a [routerLink]="['/shoppin-product', shoppingCart.carId]" >ver carrito</a>
            
        </td>
        

    </tr>

</table>
