<div *ngIf="paymentMethod">
    <div *ngIf="showMsg"> 
        <p *ngFor="let msg of messages">
            {{msg}} 
        </p>
    </div>
    
    <form #paymentMethodForm="ngForm">
        <input readonly type="name" name="name" id="name" #name placeholder="name" [(ngModel)]="paymentMethod.name"/><br/>
        
    
        <select name="enable" id="enable" #enable [(ngModel)]="paymentMethod.enable">
            <option *ngFor="let enable of enables" [value]="enable.id">
                {{enable.name}}
            </option>
        </select>
        <br/>
        <button (click)="update()">edit</button>
        <button (click)="delete()">delete</button>
        <button routerLink="/payment-method-list">cancel</button>
    </form>


</div>