<h1>Product edit</h1>
<div *ngIf="product">
    <div *ngIf="showMsg">
        <p *ngFor="let msg of messages">
            {{msg}}
        </p>
    </div>

    <form #productForm="ngForm">
        <div class="form-group">
            <label >Id</label><br/>
            <input readonly type="proId" name="proId" size="30" id="proId" #proId placeholder="proId"
                [(ngModel)]="product.proId" /><br />
        </div>
        <div class="form-group">
            <label >Nombre</label><br/>
            <input type="text" name="name" id="name" size="30" #name placeholder="name" [(ngModel)]="product.name" /><br />
        </div>
        <div class="form-group">
            <label >Precio</label><br/>
            <input type="text" name="price" id="price" size="30" #price placeholder="price" [(ngModel)]="product.price" /><br />
        </div>
        <div class="form-group">
            <label >Detalles</label><br/>
            <input type="text" name="detail" id="detail" size="30" #detail placeholder="detail"
                [(ngModel)]="product.detail" /><br />
        </div>
        <div class="form-group">
            <label >Imagen</label><br/>
            <input type="text" name="image" id="image" size="30" #image placeholder="image" [(ngModel)]="product.image" /><br />
        </div>
        <div class="form-group">
            <label >Activo</label><br/>
            <select name="enable" id="enable" #enable [(ngModel)]="product.enable">
                <option *ngFor="let enable of enables" [value]="enable.id">
                    {{enable.name}}
                </option>
            </select>
        </div>
        <div class="form-row">
            <div class="col">
                <button (click)="update()" class="btn btn-primary mb-2 btn-lg">edit</button>
            </div>
            <div class="col">
                <button (click)="delete()" class="btn btn-primary mb-2 btn-lg">delete</button>
            </div>
            <div class="col">
                <button routerLink="/product-list" class="btn btn-primary mb-2 btn-lg">cancel</button>
            </div>
        </div>

    </form>


</div>